<footer class="site-footer" id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <h2 class="footer-heading mb-4">Chi siamo</h2>
                        <p>IMPRESA CONFIDI SCPA
                            <br/>Via Cappuccini, 64
                            <br/>80059 Torre del Greco (NA)
                            <br/>C.F. – P. IVA: 03375901216
                        </p>
                    </div>
                    <div class="col-md-3">
                        <h2 class="footer-heading mb-4">Contattaci</h2>
                        <p>Tel.: 0813580367
                            <br/>Fax: 0818470570
                            <br/>e-mail: impresaconfidi@gmail.com
                            <br/>pec: impresaconfidi@pec.it
                        </p>
                    </div>
                    <div class="col-md-3 ml-auto">
                        <h2 class="footer-heading mb-4">Link utili</h2>
                        <ul class="list-unstyled">
                            <li><a href="index.html#home-section" class="nav-link">Home</a></li>
                            <li><a href="modulistica.html" class="nav-link">Modulistica</a></li>
                            <li><a href="modulistica.html#trasparenza" class="nav-link">Trasparenza</a></li>
                            <li><a href="soci.html" class="nav-link">Area Soci</a></li>
                            <li><a href="partner.html" class="nav-link">Partner & Convezionati</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p class="copyright"><small>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </small></p>
                </div>
            </div>

        </div>
    </div>
</footer>