<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="#" class="text-white"><span class="mr-2 text-white icon-envelope-open-o"></span> <span class="d-none d-md-inline-block">impresaconfidi@gmail.com</span></a>
                <span class="mx-md-2 d-inline-block"></span>
                <a href="#" class="text-white"><span class="mr-2 text-white icon-phone"></span> <span class="d-none d-md-inline-block">39+ 081 358 0367</span></a>

                <div class="float-right">

                    <!--<a href="#" class="text-white"><span class="mr-2 text-white icon-twitter"></span> <span class="d-none d-md-inline-block">Twitter</span></a>
    <span class="mx-md-2 d-inline-block"></span>
    <a href="#" class="text-white"><span class="mr-2 text-white icon-instagram"></span> <span class="d-none d-md-inline-block">Instagram</span></a>-->

                </div>

            </div>

        </div>

    </div>
</div>

<header class="site-navbar js-sticky-header site-navbar-target" role="banner">

    <div class="container">
        <div class="row align-items-center position-relative">

            <div class="site-logo">
                <a href="index.html" class="text-black"><span class="text-primary">Impresa Confidi</a>
            </div>

            <div class="col-12">
                <nav class="site-navigation text-right ml-auto " role="navigation">

                    <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                        <li><a href="index.html#home-section" class="nav-link">Home</a></li>
                        <li><a href="modulistica.html" class="nav-link">Modulistica</a></li>
                        <li><a href="modulistica.html#trasparenza" class="nav-link">Trasparenza</a></li>
                        <li><a href="#contact-section" class="nav-link">Contatti</a></li>
                    </ul>
                </nav>

            </div>

            <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

        </div>
    </div>

</header>